<!DOCTYPE html>
<html>
<head>
  <title>Filmhauz</title>
  <meta charset="utf-8">
  <meta content="en" name="language">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="robots" content="index,follow,archive">
  <meta name="description" content="Filmhauz is a place for.... ">
  <meta name="keywords" content="film, film review, film discussion">
  <meta property="og:title" content="In-depth film dicussion | Filmhauz">
  <meta property="og:type" content="website">
  <meta property="og:admins" content="4302132">
  <meta property="og:site_name" content="Filmhauz">
  <meta property="og:image" content="https://static.mailchimp.com/web/social/freddie.png">
  <meta property="og:url" content="https://filmhauz.com/">
  <meta property="og:description" content="Filmhauz is a place for....">
  <!-- <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:site" content="@mailchimp">
  <meta property="twitter:image" content="https://static.mailchimp.com/web/social/freddie.png"> -->

</head>
